@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: none;
}

/* Hide cursor on interactive elements */
a, button, input, textarea, select, [role="button"] {
  cursor: none !important;
}

body {
  background-color: #FFFCF6;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  cursor: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
